<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8">
        <title>All Users</title>
    </head>
    <body>
        <form action="/list" method="POST">
        <h1>Confirm Scorecard Times for {{card.competitor_name}}</h1>
            <input type="text" name="time_1"><br>
            <input type="text" name="time_2"><br>
            <input type="text" name="time_3"><br>
            <input type="text" name="time_4"><br>
            <input type="text" name="time_5"><br> 
            <input type="submit" value="Submit">
        </form>



        <p>Time 1: {{card.time_1}}</p>
        <p>Time 2: {{card.time_2}}</p>
        <p>Time 3: {{card.time_3}}</p>
        <p>Time 4: {{card.time_4}}</p>
        <p>Time 5: {{card.time_5}}</p>
       


            
    </body>

</html>
